﻿@model demoTranslatorChat.Models.TranslateContentViewModel

<table>
    <tr>
        @using (Ajax.BeginForm("Translate", "TranslateContent", new AjaxOptions() { UpdateTargetId = "translations" }))
        { 
            @Html.AntiForgeryToken()
        <td>
            @Html.LabelFor(r => r.TransalateContentModel.TextToTranslate)
        </td>
        <td>
            @Html.TextAreaFor(r => r.TransalateContentModel.TextToTranslate, 4, 15, new { @class = "form-control" }) 
            @Html.DropDownListFor(r => r.SelectedSourceLanguage, Model.SourceLanguage)
            @Html.DropDownListFor(r => r.SelectedDestLanguage, Model.DestinationLanguage)
            <input type="submit" value="Translate" class="btn btn-default" />
        </td>
        <td>
            @Html.LabelFor(r => r.TransalateContentModel.TranslatedText)
        </td>
        <td>
            @Html.DisplayFor(r => r.TransalateContentModel.TranslatedText)
        </td>
        }
    </tr>
    <tr>
       
        
    </tr>
</table>

<div id="translations">

    @{Html.RenderAction("HistoryTranslate");}

</div>